    section h2 {
        text-align: center;
    }

    form label span {
        display: inline-block;
        width: 120px;
        text-align: left;
    }

    ul {
        list-style-position: outside;
        padding: 0px;
    }

    ul li {
        list-style-type: none;
        margin: 10px auto;
    }

    hr {
        display: block;
        margin: 20px auto;
    }
